<a href="https://colab.research.google.com/github/jimenezjos/Practica2/blob/main/Copia_de_Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
fx = lambda x: 2*(x**3) + (x**2) - 13*x + 6
dx = lambda x: 6*(x**2) + 2*x - 13
xi=2.5
columnas=["interaciones","xi","f(xi)","f´(xi)","xi+1","error"]
datos=[[0,0,0,0,xi,0]]
df = pd.DataFrame(datos,columns=columnas)
i=1
tolerancia = 0.00001
error = 1
while error>tolerancia:

  Raiz = xi-(fx(xi)/dx(xi))
  error = np.abs((Raiz-xi)/Raiz)
  df = df.append({
      "interacion":i,
      "xi":xi,
      "f(xi)":fx(xi),
      "f´(xi)":dx(xi),
      "xi+1":Raiz,
      "error":error
  },ignore_index=True)
  xi = Raiz
  i+=1
print("La raiz es: ",Raiz)  
print("El valor de f(x): ",fx(Raiz))
df.head(15)

La raiz es:  2.0
El valor de f(x):  0.0

<ipython-input-13-2ec2f5a793f7>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({
<ipython-input-13-2ec2f5a793f7>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({
<ipython-input-13-2ec2f5a793f7>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({
<ipython-input-13-2ec2f5a793f7>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({
<ipython-input-13-2ec2f5a793f7>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({

,interaciones,xi,f(xi),f´(xi),xi+1,error,interacion
0,0.0,0.000000,0.000000e+00,0.000000,2.500000,0.000000e+00,NaN
1,NaN,2.500000,1.100000e+01,29.500000,2.127119,1.752988e-01,1.0
2,NaN,2.127119,2.120957e+00,18.402040,2.011862,5.728853e-02,2.0
3,NaN,2.011862,1.797629e-01,15.309257,2.000120,5.870701e-03,3.0
4,NaN,2.000120,1.798977e-03,15.003118,2.000000,5.995343e-05,4.0
5,NaN,2.000000,1.869164e-07,15.000000,2.000000,6.230547e-09,5.0

In [4]:
from numpy import sign
from numpy.lib.scimath import sqrt
def muller(f,x0,x1,x2,tol):
    error=1e3;
    x3=0;
    while error > tol:
        c=f(x2);
        b=((x0-x2)**2*(f(x1)-f(x2))-(x1-x2)**2*(f(x0)-f(x2)))/((x0-x2)*(x1-x2)*(x0-x1));
        a=((x1-x2)*(f(x0)-f(x2))-(x0-x2)*(f(x1)-f(x2)))/((x0-x2)*(x1-x2)*(x0-x1));
        x3=x2-(2*c)/(b+sign(b)*sqrt(b**2-4*a*c));
        error= abs(x3-x2);
        x0=x1 ; x1=x2 ; x2=x3;
        
    return x3  
    #f = lambda x:2*(x**3) + (x**2) - 13*x + 6

    #muller(f,2,2.5,3,1e-5)
    #Out[18]: 2.0

In [ ]:
import numpy as np

def f(x): 
    return  2*(x**3) + (x**2) - 13*x + 6

def secante(f,x0,x1,N=35,emax=0.00001):

    for k in range(N):
        fp=(f(x1)-f(x0))/(x1-x0)
        
        x=x1-f(x1)/fp
        e=abs((x-x1)/x)
        if e < emax:
        
           break
        x0=x1
        x1=x
        print(k,x,f(x),e)
print("i","raiz","f(x)","error")      
secante(f,2,3)

i raiz f(x) error
0 2.0 0.0 0.5